<p id="notice"><%= notice %></p>

<p>
  <strong>Home Team:</strong><%= @match.hteam %>
  <strong>Home Score:</strong><%= @match.htscore %>
  <strong>Away Team:</strong><%= @match.ateam %>
  <strong>Away Score:</strong><%= @match.atscore %>


</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
